<footer class="azul text-white pt-4 pb-3">
	<div class="container">
		<div class="row m-0">
			<div class="col-md-3">
				<div>
					<img src="https://cassado.com.pe/wp-content/uploads/2019/10/logo_blanco.png"/>

					<div>
						<p></p>
						<p>
							Oficina principal:<br>
							Calle Los Cóndores Mz. I, Lote 12,<br>
							Urb. Santa María de Huachipa.<br>
							Lurigancho, Lima, Perú.
						</p>

						<div class="maps_sedes">
							<a href="https://goo.gl/maps/dRd5K5ALff92HyPF7" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
							
							<a href="https://www.waze.com/ul?ll=-12.012193%2C-76.930670&amp;navigate=yes" target="_blank"></a>
						</div>
						
						<p>
							Almacén comercial:<br>
							Jr. Ayabaca 103 Rimac, Lima, Perú
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<br><br>
				<div style="display:inline-flex; margin-bottom: -15px;"><br>
					<a target="_blank" href="https://www.linkedin.com/company/cassado-s-a-/"><img style="width: 19px;margin-top:8px;margin-right: 15px;" src="https://cassado.com.pe/wp-content/uploads/2020/03/linkedin.png"></a><br>
					
					<a target="_blank" href="https://www.facebook.com/CassadoPeru/"><img style="width: 19px;margin-top:8px;margin-right: 15px;" src="https://cassado.com.pe/wp-content/uploads/2020/03/facebook.png"></a><br>
					
					<a target="_blank" href="https://www.instagram.com/cassado.peru/"><img style="width: 19px;margin-top:8px;margin-right: 15px;" src="https://cassado.com.pe/wp-content/uploads/2020/03/instagram.png"></a><br>
					
					<a target="_blank" href="https://www.youtube.com/channel/UCaFRAY95gXhUKEL66d0zStg"><img style="width: 19px;margin-top:8px;margin-right: 15px;" src="https://cassado.com.pe/wp-content/uploads/2020/03/youtube.png"></a><br>
				</div>

				<br>
				<p></p>
				
				<p>
					E-mail:<br>
					chesterton@cassado.com.pe
				</p>

				<div style="padding-top:21px !important">
					<div class="w-100 text-left">
						<p class="m-0">© Cassadó 2021</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
